#container {
	float: left;
	width: 100%;
}

#logo {
	margin: 10px auto;
	width: 182px;
}

body {
	background: url("../img/bg.jpg") no-repeat fixed 0 0 rgba(0, 0, 0, 0);
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
}

img {
	max-width: 100%
}

#cat1 a {
	clear: left;
	color: #9BA238;
	cursor: pointer;
	float: left;
	margin-bottom: 5px;
	margin-top: 10px;
	width: 100%;
}

#cat1 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.overlay {
	background: none repeat scroll 0 0 #000;
	height: 100%;
	opacity: 0.9;
	position: fixed;
	width: 100%;
	display: none;
	z-index: 1000;
}

.loader {
	background: none repeat scroll 0 0 #fff;
	border-radius: 10px;
	color: #9ba238;
	left: 50%;
	margin-left: -81px;
	margin-top: -45px;
	padding: 20px;
	position: fixed;
	top: 50%;
	z-index: 1000;
}

#cat1 .info {
	display: none;
}

.contentholder {
	background: url("../img/bginner.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: left;
	margin-top: 45%;
	padding: 20px 0;
}

#results {
	position: relative;
	z-index: 0;
}
#results .formcontrol{
width: 30px;
float: left;
height: 31px;}

.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {

  top: auto;

}
#prodname {
padding: 0;
margin: 0;
margin-left: 5%;
}
.shoppingcartcont{font-size:14px;}
.shoppingcartcont input{color:#333}

.instruction_summary span{font-weight:bold}
.instruction_summary label{font-weight:bold;font-size:16px}
.instruction_summary,#thankyou{font-size: 14px;}
#payment,#checkout,#thankyou,#page3{
	background: #000;
    opacity: 0.8;
}
.ui-br{border:none}
#Dialog1{background:#FFFFFF;display:none}
input.ui-input-text{
	background: none;
border: none;
}
input.ui-input-text,textarea.ui-input-text{
	background: none;

}
.dateseparator {
  float: left;
  width: 33%;
  text-align:center;
}
.dateseparator span {
  color: #9ba238;
  float: left;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.confirmage {
  color: #9ba238;
  float: left;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}
 
 .dateseparator input, .dateseparator select {
  background: none repeat scroll 0 0 #9ba238;
  border: medium none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  margin: 10px auto;
  text-align: center;
  width: 75%;
  padding-left:10px
} 
.contentholder {
  background: url("../img/bginner.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid;
  float: left;
  margin-top: 21px;
  padding: 20px 0;
  width: 100%;
}
.logincontrols {
  float: left;
  margin-top: 20px;
  text-align: center;
  width:100%
}
.logincontrols a {
  float: left;
  margin: 8px auto;
  width: 100%;
}
.logincontrols img {
  max-width: 70%;
}
.disclaimer {
  color: #fff;
  float: left;
  font-size: 14px;
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}
.logincontrols .cbtn{
	background: url(../img/login.png) no-repeat;width: auto;
color: #000;
padding: 10px 20px;
float: none;
font-size: 20px;
}
.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {
top: 205px !important;
}
header{clear: left;
float: left;
width: 100%;
}
hr{
	clear:left;
}
hr{
	clear:left;
}
#top{display:none;}
.ui-draggable .ui-dialog-titlebar {
  background: none repeat scroll 0 0 #9ba238;
  cursor: move;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 4px;
}

.ui-dialog .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0 !important;
}
.ui-dialog .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0 !important;
}
.ui-dialog {
  border: none !important;
  
}

